.highlight-mixin() {
   .highlight {
    background-color: #2B2B2CFF;

    .k // Keyword
    , .kc // Keyword.Constant
    , .kn // Keyword.Name
    , .ow // Operator.Word
    , .se // Literal.String.Escape
    { color:#CC7832; }

    .n // Name
    , .o // Operator
    , .nn // Name.Namespace
    , .nx // Name.Other
    , .nc // Name.Class
    {
      color: #A9B7C6;
      text-decoration: initial
    }

    .p
    { color: #E8BA36 } // 模拟Rainbow-Brackets IDE插件

    .c   // Comment
    , .cm  // Comment.Multiline
    , .c1  // Comment.Single
    { color: #666; font-style: italic }

    .cp // Comment.Preproc
    , .cs // Comment.Special
    , .gh // Generic.Heading
    { color: #CC7832 }

    .cp // Comment.Preproc
    , .cs // Comment.Special
    {font-weight: bold;}

    .cs // Comment.Special
    { font-style: italic }

    .gd // Generic.Deleted
    { color: #000000; background-color: #ffdddd; }

    .gd .x // Generic.Deleted.Specific
    { background-color: #ffaaaa }

    .ge // Generic.Emph
    { font-style: italic }

    .gr // Generic.Error
    , .gt // Generic.Traceback
    { color: #aa0000 }

    .gi // Generic.Inserted
    { color: #000000;  background-color: #ddffdd; }

    .gi .x // Generic.Inserted.Specific
    { background-color: #aaffaa; }

    .go // Generic.Output
    { color: #888888 }

    .gp // Generic.Prompt
    { color: #555555 }

    .gs // Generic.Strong
    { font-weight: bold }

    .gu // Generic.Subheading
    { color: #aaaaaa }

    .kc // Keyword.Constant
    , .kd // Keyword.Declaration
    , .kp // Keyword.Pseudo
    , .kr // Keyword.Reserved
    , .kt // Keyword.Type
    , .ow // Operator.Word
    { font-weight:bold; }

    .kt { color: #FFF; }

    // Name.Attribute
    .na{
      color: #FFC66D;
    }
    .no // Name.Constant
    , .ni // Name.Entity
    , .nv // Name.Variable
    , .vc // Name.Variable.Class
    , .vg // Name.Variable.Global
    , .vi // Name.Variable.Instance
    { color: #9876AA }

    .nb // Name.Builtin
    { color: #8888C6 }

    .nd // Name.Decorator
    { color: #BBB529 }

    .ne // Name.Exception
    { color: #990000; font-weight: bold }

    .nf // Name.Function
    { color: #FFC66D; }

    .nt // Name.Tag
    { color: #FFC66D }

    .bp // Name.Builtin.Pseudo
    { color: #94558D }

    .fm // Name.Function.Magic
    { color: #B200B2 }

    .w // Text.Whitespace
    { color: #bbbbbb }

    .m  // Literal.Number
    , .mf // Literal.Number.Float
    , .mh // Literal.Number.Hex
    , .mi // Literal.Number.Integer
    , .mo // Literal.Number.Oct
    , .il // Literal.Number.Integer.Long
    { color: #6897BB }

    .s  // Literal.String
    , .sb // Literal.String.Backtick
    , .s1 // Literal.String.Single
    , .sx // Literal.String.Other
    , .si // Literal.String.Interpol
    , .sh // Literal.String.Heredoc
    , .s2 // Literal.String.Double
    , .sa // Literal.String.Affix
    , .sd // Literal.String.Doc
    , .sc // Literal.String.Char
    { color: #6A8759 }

    .sr // Literal.String.Regex
    { color: #6A8759 }

    .ss // Literal.String.Symbol
    { color: #6A8759 }
  }
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) {
    .highlight-mixin();
  }
}
body[data-theme="dark"] {
  .highlight-mixin();
}
