name: Build Python Package

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build Python Package
    runs-on: ubuntu-latest
    permissions:
      contents: read  # for setup-python

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: |
          python -m build --wheel --sdist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-package-raw
          path: dist
          retention-days: 1
          if-no-files-found: error
          overwrite: true

  sig-python-package:
    name: Sig Python Package
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-package-raw
          path: dist

      - name: Sig package
        uses: sigstore/gh-action-sigstore-python@v3.0.1
        with:
          inputs: |
            dist/*.tar.gz
            dist/*.whl

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package-signed
          path: dist
          if-no-files-found: error
          retention-days: 1
